
@{
    ViewData["Title"] = "DeleteCar";
}


@using (Html.BeginForm())
{
    <h1>Czy chcesz usunąć samochód ?</h1>
    <input value="Tak" type="submit" class="btn btn-danger" />
    @Html.ActionLink("Wróć", "Index", "Car", (object)null, new { @class = "btn btn-warning" })
}
