<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<table>
    <tr>
        <td>
            <img src="~/images/autaa.png" alt="...">
        </td>

        <td>


            <h1>Naprawy blacharsko-lakiernicze</h1>
            <hr />
            <p>
                <font size="3">
                    cennik tu
                </font>
            </p>

    </tr>

</table>



<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>