<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<table>
    <tr>
        <td>
            <img src="~/images/ubb.jpg" alt="...">
        </td>

        <td>

            <h1>Likwidacja szkód</h1>
            <hr />


            <p><font size="3">Prowadzimy pełną likwidację szkody za klienta.</font></p>

            <p><font size="3">Oferujemy holowanie pojazdu z miejsca kolizji lub parkingu, na którym stoi.</font></p>

            <p><font size="3"> Pojazd stoi na naszym strzeżonym parkingu zabezpieczonym w dwie bramy wjazdowe, kamery i oświetlenie reagujące na ruch.</font></p>

            <p><font size="3">W przypadku szkody nie z winy klienta, oferujemy pojazd zastępczy na cały okres likwidacji szkody lub cały okres naprawy. Koszt auta zastępczego pokrywany jest przez ubezpieczalnię sprawcy, więc nie ponoszą Państwo kosztów związanych z wynajem.</font></p>

            <p><font size="3">Następnie zgłaszamy szkodę do ubezpieczalni i przeprowadzamy oględziny pojazdu z pełnym demontażem w uszkodzonej strefie, tak żeby wykryć każde uszkodzenie.</font></p>

            <p><font size="3"> W międzyczasie zalatwimy za Państwa wszelkie formalności związane ze szkodą, czyli dostarczamy wymagane dokumenty, wyliczamy realną wartość szkody oraz monitorujemy przebieg likwidacji przez ubezpieczalnię.</font></p>

            <p><font size="3">Rozpoczynamy naprawę pojazdu. Auta naprawiane są na możliwie najlepszych jakościowo częściach oraz za pomocą nowoczesnego sprzętu.</font></p>

            <p><font size="3">Do każdej naprawy podchodzimy indywidualnie.</font></p>



    </tr>

</table>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>