<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<table>
    <tr>
        <td>
            <img src="~/images/holowaniee.jpg" alt="...">
        </td>

        <td>

            <ul>
                <h1>Pomoc drogowa </h1>
            </ul>
            <hr />

            <ul>
                <p>Świadczymy usługi z zakresu pomocy drogowej i holowania pojazdów 24 godziny na dobę, 7 dni w tygodniu. Działamy głównie w Warszawie i okolicach, pojazdy holowane możemy przetransportować w każde miejsce w Polsce jak i w Unii Europejskiej. Błyskawiczny dojazd na miejsce zdarzenia, dbamy o bezpieczeństwo oraz zadowolenie klienta, zapewniamy kompleksową pomoc, miłą obsługę i fachowe doradztwo. Istnieje możliwość rozliczenia bezgotówkowego z OC sprawcy lub AC pojazdu.</p>
                <p>Ceny ustalamy indywidualnie telefonicznie lub osobiście.</p>

                <p>Jeśli są Państwo poszkodowanymi w kolizji drogowej, koszt holowania pokrywa ubezpieczenia sprawcy więc nie ponoszą Państwo kosztów z nim związanych.</p>

                <p> W sprawie holowania za granicę Polski, więcej informacji udzielamy telefonicznie.</p>
            </ul>
        </td>
    </tr>


</table>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>