<hr />
<table>
    <tr>
        <td>
            <img src="~/images/warsztat.jpg" alt="...">
        </td>

        <td>

            <ul>
            <h1>Mechanika </h1>
                </ul>
            <hr />
            
            
            <ul class="list">
                <li>Wszechstronny serwis samochodowy dla pojazdów osobowych, dostawczych, terenowych, 4x4, busów.</li>
                <li>Diagnostyka komputerowa oraz naprawy pogwarancyjne pojazdów wszystkich marek.</li>
                <li>Wymiana oleju.</li>
                <li>Wymiana i naprawa układu elektrycznego.</li>
            </ul>
        </td>
    </tr>
  

</table>
<br />

<table>
    <tr>
        <td>
            <img src="~/images/holowanie.jpg" alt="...">
        </td>

        <td>

            <ul>
            <h1>Pomoc drogowa </h1>
                </ul>
            <hr />

            <ul>
            Świadczymy usługi z zakresu pomocy drogowej i holowania pojazdów 24 godziny na dobę, 7 dni w tygodniu. Działamy głównie w Warszawie i okolicach, pojazdy holowane możemy przetransportować w każde miejsce w Polsce jak i w Unii Europejskiej. Błyskawiczny dojazd na miejsce zdarzenia, dbamy o bezpieczeństwo oraz zadowolenie klienta, zapewniamy kompleksową pomoc, miłą obsługę i fachowe doradztwo. Istnieje możliwość rozliczenia bezgotówkowego z OC sprawcy lub AC pojazdu.
       </ul>
                </td>
    </tr>


</table>
<hr />